/* Colors */
/* vars --> */
$dark: #1E1E1E;
$black: #000;
$white: #FFFFFF;
$stroke: #DEDEDE;

/* Brand Colors */
/* vars --> */
$blue: #003B99;
$yellow: #FEB922;
$green: #00BA29;
$red: #CB0F0F;
$transition: ease 0.2s;

/* Gradients */
/* vars --> */

/* Global Styles */
* {
    font-family: 'Circe';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-size: 16px;
    line-height: 16px;
}

body {
    color: $black;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: $black;
}

ul,
ol {
    list-style-type: none;
}

img {
    max-width: 100%;
}

input {
    border: none;

    &[type="submit"] {
        cursor: pointer;
    }
}

button {
    border: none;
    background: none;
}