/*Now the CSS*/

.legend {
  margin-bottom: 2rem;

  &-item {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;

    svg {
      width: 1.5rem;
      height: 1.5rem;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}



.in-process {
  svg.indicator {
    fill: $yellow;
  }
}

.done {
  svg.indicator {
    fill: $green;
  }
}

.rejected {
  svg.indicator {
    fill: $red;
  }
}

.tree {
  line-height: 2rem;

  &-mini {
    .tree-parent {
      display: none;
    }

    .tree-parent.open {
      display: block;
    }

    .tree-item {
      position: relative;
      margin-left: 1.25rem;
      margin-left: 1.7rem;
      padding-bottom: 1rem;

      &:last-child {
        padding-bottom: 0;
      }

      &:last-child {
        border: none;
      }

      &:before {
        content: '';
        display: block;
        border-top: 1px solid $stroke;
        border-left: 1px solid $stroke;
        height: 100%;
        width: 1rem;
        position: absolute;
        bottom: -1.1rem;
        left: -0.9rem;
        left: -1.3rem;
        z-index: -1;
      }

      &:last-child:before {
        border-left: none;
      }

      &:first-child:after {
        content: "";
        display: block;
        border-left: 1px solid $stroke;
        height: calc(100% + 2rem);
        width: 1rem;
        position: absolute;
        top: -1rem;
        left: -1.3rem;
        z-index: -1;
      }
    }
  }
}

.label {
  max-width: 20rem;
  display: block;
  padding-bottom: 1rem;

  &-wrapper {

    border: 1px solid $stroke;
    border-radius: .5rem;
    padding: .5rem;
  }

  svg {
    width: 1.5rem;
    height: 1.5rem;
  }

  .info {
    margin-top: .5rem;

    span {
      text-align: left;
    }
  }
}