.tree {
    &-super {
        ul {
            padding-top: 1.5rem;
            position: relative;
            transition: $transition;
            display: flex;
            justify-content: center;

            li {
                float: left;
                text-align: center;
                list-style-type: none;
                position: relative;
                padding: 1.5rem 5px 0 5px;
                transition: $transition;

                &::before,
                &::after {
                    content: '';
                    position: absolute;
                    top: 0;
                    right: 50%;
                    border-top: 1px solid $stroke;
                    width: 50%;
                    height: 1.5rem;
                }

                &::after {
                    right: auto;
                    left: 50%;
                    border-left: 1px solid $stroke;
                }

                &:only-child::after,
                &:only-child::before {
                    display: none;
                }

                &:only-child {
                    padding-top: 0;
                }

                &:first-child::before,
                &:last-child::after {
                    border: 0 none;
                }

                &:last-child::before {
                    border-right: 1px solid $stroke;
                    border-radius: 0 .5rem 0 0;
                }

                &:first-child::after {
                    border-radius: .5rem 0 0 0;
                }

                a {
                    border: 1px solid $stroke;
                    padding: 1rem;
                    text-decoration: none;
                    font-size: .8rem;
                    display: inline-block;
                    border-radius: .5rem;
                    transition: all 0.5s;

                    &:hover,
                    &:hover+ul li a {
                        background: $blue;
                        color: $white;
                        border: 1px solid $stroke;

                        svg {
                            fill: $white;
                        }
                    }

                    &:hover+ul li::after,
                    &:hover+ul li::before,
                    &:hover+ul::before,
                    &:hover+ul ul::before {
                        border-color: $stroke;
                    }
                }

            }

            ul::before {
                content: '';
                position: absolute;
                top: 0;
                left: 50%;
                border-left: 1px solid $stroke;
                width: 0;
                height: 1.5rem;
            }
        }
    }
}