/*Now the CSS*/

.legend {
  margin-bottom: 2rem;

  &-item {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;

    svg {
      width: 1.5rem;
      height: 1.5rem;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}



.in-process {
  svg.indicator {
    fill: $yellow;
  }
}

.done {
  svg.indicator {
    fill: $green;
  }
}

.rejected {
  svg.indicator {
    fill: $red;
  }
}

.tree {
  line-height: 2rem;

  &-mini {
    .tree-parent {
      display: none;
    }

    .tree-parent.open {
      display: block;
    }

    .tree-item {
      position: relative;
      margin-left: 1.25rem;
      margin-left: 1.7rem;
      padding-bottom: 1rem;

      &:last-child {
        padding-bottom: 0;
      }

      &:last-child {
        border: none;
      }

      &:before {
        content: '';
        display: block;
        border-top: 1px solid $stroke;
        border-left: 1px solid $stroke;
        height: 100%;
        width: 1rem;
        position: absolute;
        bottom: -1.1rem;
        left: -0.9rem;
        left: -1.3rem;
        z-index: -1;
      }

      &:last-child:before {
        border-left: none;
      }

      &:first-child:after {
        content: "";
        display: block;
        border-left: 1px solid $stroke;
        height: calc(100% + 2rem);
        width: 1rem;
        position: absolute;
        top: -1rem;
        left: -1.3rem;
        z-index: -1;
      }
    }
  }

  &-super {
    ul {
      padding-top: 1.5rem;
      position: relative;
      transition: $transition;
      display: flex;
      justify-content: center;

      li {
        float: left;
        text-align: center;
        list-style-type: none;
        position: relative;
        padding: 1.5rem 5px 0 5px;
        transition: $transition;

        &::before,
        &::after {
          content: '';
          position: absolute;
          top: 0;
          right: 50%;
          border-top: 1px solid $stroke;
          width: 50%;
          height: 1.5rem;
        }

        &::after {
          right: auto;
          left: 50%;
          border-left: 1px solid $stroke;
        }

        &:only-child::after,
        &:only-child::before {
          display: none;
        }

        &:only-child {
          padding-top: 0;
        }

        &:first-child::before,
        &:last-child::after {
          border: 0 none;
        }

        &:last-child::before {
          border-right: 1px solid $stroke;
          border-radius: 0 .5rem 0 0;
        }

        &:first-child::after {
          border-radius: .5rem 0 0 0;
        }

        a {
          border: 1px solid $stroke;
          padding: 1rem;
          text-decoration: none;
          font-size: .8rem;
          display: inline-block;
          border-radius: .5rem;
          transition: all 0.5s;

          &:hover,
          &:hover+ul li a {
            background: $blue;
            color: $white;
            border: 1px solid $stroke;

            svg {
              fill: $white;
            }
          }

          &:hover+ul li::after,
          &:hover+ul li::before,
          &:hover+ul::before,
          &:hover+ul ul::before {
            border-color: $stroke;
          }
        }

      }

      ul::before {
        content: '';
        position: absolute;
        top: 0;
        left: 50%;
        border-left: 1px solid $stroke;
        width: 0;
        height: 1.5rem;
      }
    }
  }
}

.label {
  max-width: 20rem;
  display: block;
  padding-bottom: 1rem;

  &-wrapper {

    border: 1px solid $stroke;
    border-radius: .5rem;
    padding: .5rem;
  }

  svg {
    width: 1.5rem;
    height: 1.5rem;
  }

  .info {
    margin-top: .5rem;

    span {
      text-align: left;
    }
  }
}